.Rproj.user
.Rhistory
.RData
.RDataTmp
data/BASEMAPS/
data/Haplotyping/
data/POPGEN/SFL.tidy.genotypyes
data/POPGEN/SFLmaf01.tidy.genotypyes
data/POPGEN/SFLmaf05.tidy.genotypyes
data/REF/
data/SEQ/
data/SNP_Calling/
data/VCF/
scratch/
results/global.pair.ia
results/per_pop.pair.ia
results/CLE_pop.bayescanPO10kburn100kn10kthin50.sel









